@import url('https://fonts.googleapis.com/css?family=Boogaloo&display=swap');

textarea, input {
  display: block;
  width: 100%;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 400px;
  font-size: 18px;
}
.article-title {
    font-family: 'Boogaloo', cursive;
    font-size: 135%;
}
.individual-article {
  margin-bottom: 10px;
}
.card {
  margin-bottom: 20px;
  padding: 5px;
}
p {
  margin-bottom: 10px;
}
/* unvisited link */
a:link {
  color: #33BFB8;
  font-weight: normal;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(27, 99, 95);
  font-weight: normal;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

/* selected link */
a:active {
  color: rgb(117, 241, 235);
  font-weight: normal;
  text-decoration: none;
}
.titles {
  margin-bottom:20px;
}
.tv-heading {
  font-family: 'Boogaloo', cursive;
}
 h5 {
   line-height: 150%;
 }
 .note-title {
  font-family: 'Boogaloo', cursive;
  font-size: 135%;
 }
 .form-control {
   margin-bottom:10px;
 }
 .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #EE2C3E;
}
footer {
  background-color: #E9ECEF;
}
.article-img {
  /* float: left; */
  width: 100px;
  height: 100px;
  margin: 10px;
}
button {
  margin-right:10px;
  margin-bottom:10px;
}